.event {
  width: 25%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.thumb {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  aspect-ratio: 16 / 9;
}

.data {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  flex-grow: 1;
}

.title {
  font-size: 5.5rem;
  text-align: center;
}

.registration {
  margin: auto auto 0;
  font-size: 4rem;
  display: flex;
  text-align: center;

}

.reg-el {
  display: flex;
  flex-direction: column;
}

.reg-date-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info {
  margin-left: auto;
  display: flex;
  gap: 2rem;
  font-size: 4rem;
  margin-top: 4rem;
}

.info-line > :first-child {
  margin-right: 1rem;
}