.event {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background: #0d53744b;
  border-radius: 2rem;
}

.thumb {
  background: white;
  display: grid;
  place-items: center;
  width: 100%;
  border-radius: 2rem;
  aspect-ratio: 16 / 9;
}

.data {
  width: calc(100% - 1rem);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  flex-grow: 1;
}

.title {
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: auto;
}

.registration {
  margin: 0 auto;
  font-size: 4rem;
  display: flex;
  text-align: center;

}

.reg-el {
  display: flex;
  flex-direction: column;
}

.reg-date-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info {
  margin-left: auto;
  display: flex;
  gap: 2rem;
  font-size: 4rem;
  margin-top: 4rem;
}

.info-line > :first-child {
  margin-right: 1rem;
}