.weatherimg{
  filter: drop-shadow(0 0 4px white);
  width:140px;
}

.weather{
  font-size: 1.2em;
  padding: 40px 55px;
  text-align: center;
  border-radius: 2rem;
  background: #0d53744b;
  opacity: 1;
  color: white;

}

.weatherContainer{
  display: flex;
  justify-content: space-evenly;
}

.weather-title {
  margin: 0;
}

#weatherDiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

