.weatherimg{
  width:130px;
}

.weather{
  padding: 40px 55px;
  text-align: center;
  border: 1px solid rgb(114, 114, 114);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

}

.weatherContainer{
  display: flex;
  justify-content: space-evenly;
}

.weatherContainer div {
  margin: 5px;
}

#weatherDiv{
  text-align: center;
  width: min-content;
  width: 100%;
}

