@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Minecraftia';
    src: url('/fonts/minecraftia/Minecraftia-Regular.ttf');
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Event badge scrolling animation */

.scrolling-text {
  animation: scroll-horizontal 15s linear infinite;
}

@keyframes scroll-horizontal {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-1 * var(--overflow-width)));
  }
}

/* Header animation */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* Napkom animation */
@keyframes driftOff {
  from {
    transform: translate(0);
    opacity: 0;
  }
  10% {
    opacity: 1
  }
  to {
    transform: translate(400%, -200%);
    opacity: 0;
  }
}