/*
.App {
  text-align: center;
  background-image: url('./assets/online_logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #0d5474; */
  /* background-color: #106992; */
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

#bilde-av-bus{
  height: 80px;
  width: 80px;
}

#buss3{
  align-self: center;
  transform: translate(0,-20%);
}

.bus{
  display: flex;
}
