.App {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  gap: 0.2em;
  font-size: 50px;
  padding: 0.2em;
}

.top-bar {
  display: flex;
  align-items: center;
  color: white;
  font-size: 3.2em;
  font-weight: 800;
  letter-spacing: .3em;
  line-height: .5em;
  gap: 1em;
  padding: 0;
  text-align: center;
}


.top-bar-logo {
  height: 10vh;
  aspect-ratio: 1
}

.top-bar-logo > * {
  display: grid;
  place-items: center;
  width: 100%;
  filter: drop-shadow(0 0 3px white)
}
