@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Event badge scrolling animation */

.scrolling-text {
  animation: scroll-horizontal 15s linear infinite;
}

@keyframes scroll-horizontal {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-1 * var(--overflow-width)));
  }
}

/* Header animation */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
