@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.weatherimg{
  width:60px;
  height:50px;
}

.weather{
padding: 10px;
text-align: center;
border: 1px solid blue;
}

.weatherContainer{
  display: flex;
  justify-content: space-evenly;
}

.weatherContainer div {
  margin: 5px;
}

#weatherDiv{
  padding: 20px;
  text-align: center;
  width: min-content;
}

#weatherDiv h3{
  margin: 20px;
}